.my_but{
    padding: 8px 15px;
    background-color: #1373EB;
    border: none;
    color: #fff;
    transition: .3s;
    border-radius: 5px;
    height: fit-content;
    &:hover{
        cursor: pointer;
        background-color: #0d5fc4;
    }
}