.lc_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
    p{
        width: fit-content;
        margin: 10px 0;
        &:hover{
            color: #1373EB;
            cursor: pointer;
        }
    }
}