.user__img{
    position: relative;
    // background-color: #0E8ED4;
    border-radius: 50%;
    min-width: 50px;
    height: 50px;
    
    span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        color: #fff;
        font-weight: 700;
        font-size: 20px;
    }
}