.content__lc{
    background-color: #fff;
    width: 30%;
    color: #292929;
    display: flex;
    flex-direction: column;
    
    .active{
        color: #1373EB;
    }
    h3{
        margin: 0;
        padding: 20px;
        border-top: 1px solid #ccc;
        text-align: center;
    }
    .users{
        overflow-y: scroll;
        padding-bottom: 50px;
    }
}