.footer{
    width: 100%;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    textarea{
        border-radius: 5px;
        width: 95%;
        padding-left: 120px;
        box-sizing: border-box;
        margin: 0 auto;
        display: block;
        border: none;
        height: 50px;
        resize: none;
        padding-top: 17px;
        box-shadow: 1px 1px 1px #ccc;
    }
    button{
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
    }
}