.header{
    padding: 20px 25px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #1373EB;
    nav{
        a{
            margin-left: 20px;
            color: #fff;
            text-decoration: none;
        }
    }
}