.project{
    width: 40%;
    border: 1px #ccc solid;
    border-radius: 5px;
    .project__image{
        border-radius: 5px 5px 0px 0px;
        height: 80%;
        width: 100%;
    }
    .project__tittle{
        padding: 0px 20px;
        font-size: 20px;
        background-color: #1373EB;
        color: #fff;
        height: 10%;
        display: flex;
        align-items: center;
    }
    .project__links{
        height: 10%;
        background-color: #1373EB;
        display: flex;
        align-items: center;
        a{
            margin-left: 20px;
            color: #fff;
            text-decoration: none;
            padding: 7px 15px;
            border-radius: 5px;
            transition: .5s;
            background-color: #1d4b83;
            &:hover{
                background-color: #3c8ef3;
            }
        }
    }
}