.registration_wrapper{
    text-align: center;
    table{
        margin: 10px auto 20px;
        tr{
            .tleft{
                width: fit-content;
                p{
                    margin: 0 20px;
                }
            }
            .tdBut{
                padding-top: 30px;
            }
        }
    }
}
